:root {
  --color-text-contrast: #fff;

  --font-family: 'Roboto', sans-serif;

  --text-size-lg: 30px;
  --text-size-xl: 36px;
  --text-size-xxl: 72px;

  --text-height-lg: 35.16px;
  --text-height-xl: 42.19px;
  --text-height-xxl: 84.38px;

  --gutter-sm: 15px;
  --gutter-md: 25px;
  --gutter-lg: 50px;
}

html {
  font-family: var(--font-family);
}