.header {
  background-image: url('/img/train.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: var(--gutter-sm);
  border-bottom: 8px solid var(--color-theme-accent);
}

.logo {
  font-size: var(--text-size-xl);
  list-style: none;
  line-height: var(--text-height-xl);
  color: var(--color-text-contrast);
}

.menu {
  padding-top: 26px;
  background-color: #292929;
}

.menu__list {
  display: flex;
  max-width: 901px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__item {
  margin-bottom: var(--gutter-md);
  margin-right: 72px;
}

.menu__link {
  color: var(--color-text-contrast);
  font-size: var(--text-size-lg);
  font-weight: 300;
}

.header__cols {
  display: flex;
  justify-content: center;
  margin-top: 253px;
}

.header__left-side {
  display: flex;
  align-items: center;
}

.header__title {
  font-size: var(--text-size-xxl);
  margin-bottom: var(--gutter-lg);
  color: var(--color-text-contrast);
  font-weight: 700;
  max-width: 506px;
}

.header__right-side {
  max-width: 729px;
  width: 100%;
  padding: 79px 21px 52px;
  background: rgba(41, 41, 41, 0.8);
  min-height: 566px;
}

.header-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header-form__date, .header-form__direction, .header-form__submit {
  display: flex;
  flex-wrap: wrap;
}

.header-form__title {
  font-size: var(--text-size-lg);
  color: var(--color-text-contrast);
  line-height: var(--text-height-lg);
  margin-bottom: var(--gutter-xs);
  width: 100%;
  flex-basis: 100%;
}

.header-form__item {
  width: 100%;
  max-width: 322px;
  position: relative;
}

.header-form__input {
  width: 100%;
  min-height: 60px;
  padding-left: 21px;
}

.header-form__input:-moz-placeholder {
  color: var(--color-text-secondary);
}

.header-form__input::-webkit-input-placeholder {
  color: var(--color-text-secondary);
}

.header-form__icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-17px, -50%);
}

.rotate {
  width: 24px;
  margin: 8px;
  height: 24px;
  cursor: pointer;
  align-self: center;
}

.header-form__submit {
  justify-content: end;
}

.header-form__submit-btn {
  font-weight: 700;
  width: 100%;
  padding: 16px;
  background-color: var(--color-theme-accent);
  border-radius: 5px;
}

.datepicker {
  width: 100%;
}

.datepicker__wrapper {
  width: 100%;
}

.datepicker__container thead {
  display: none;
}