.header {
  background-image: url('/img/train.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: var(--gutter-sm);
  border-bottom: 8px solid var(--color-theme-accent);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.logo {
  font-size: var(--text-size-xl);
  list-style: none;
  line-height: var(--text-height-xl);
  color: var(--color-text-contrast);
}

.menu {
  padding-top: 26px;
  background-color: #292929;
}

.menu__list {
  display: flex;
  max-width: 901px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__item {
  margin-bottom: var(--gutter-md);
  margin-right: 72px;
}

.menu__link {
  color: var(--color-text-contrast);
  font-size: var(--text-size-lg);
  font-weight: 300;
}

.header-form__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header__cols {
  display: flex;
  justify-content: center;
}

.header__left-side {
  display: flex;
  align-items: center;
}

.header__title {
  font-size: var(--text-size-xxl);
  margin-bottom: var(--gutter-lg);
  color: var(--color-text-contrast);
  font-weight: 700;
  max-width: 506px;
}

.header__right-side {
  max-width: 729px;
  width: 100%;
  padding: 79px 21px 52px;
  background: rgba(41, 41, 41, 0.8);
  min-height: 566px;
}

.header-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header-form__date, .header-form__direction, .header-form__submit {
  display: flex;
  flex-wrap: wrap;
}

.header-form__title {
  font-size: var(--text-size-lg);
  color: var(--color-text-contrast);
  line-height: var(--text-height-lg);
  margin-bottom: var(--gutter-xs);
  width: 100%;
  flex-basis: 100%;
}

.header-form__items {
  display: flex;
  flex-grow: 1;
}

.header-form__item {
  width: 100%;
  max-width: 322px;
  position: relative;
}

.header-form__input {
  width: 100%;
  min-height: 60px;
  padding-left: 21px;
}

.header-form__input:-moz-placeholder {
  color: var(--color-text-secondary);
}

.header-form__input::-webkit-input-placeholder {
  color: var(--color-text-secondary);
}

.header-form__icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-17px, -50%);
}

.rotate {
  width: 24px;
  margin: 8px;
  height: 24px;
  cursor: pointer;
  align-self: center;
}

.header-form__submit {
  justify-content: end;
}

.header-form__submit-btn {
  font-weight: 700;
  width: 100%;
  padding: 16px;
  background-color: var(--color-theme-accent);
  border-radius: 5px;
  cursor: pointer;
}

.header-form__submit-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-form__submit-btn:active {
  background-color: var(--color-text-contrast);
  color: var(--color-text-accent);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.datepicker {
  width: 100%;
}

.datepicker__wrapper {
  width: 100%;
}

.datepicker__container thead {
  display: none;
}

header.datepicker__header {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

span.datepicker__title {
  color: #000;
}

.datepicker__prev {
  background-image: none;
}

a.datepicker__prev:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  z-index: 100;
  color: #000 !important;
  border: 5px solid transparent;
  border-right: 5px solid #000;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
}

.datepicker__next {
  background-image: none;
}

a.datepicker__next:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 5px solid #000;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -50%);
}

@media screen and (max-width: 991px) {
  .header__cols {
    flex-wrap: wrap;
  }
  .header-form__items {
    flex-wrap: wrap;
  }
  .header-form__item {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    word-break: break-word;
  }
}