.text-thin {
  font-weight: 200;
}

.upper-case {
  text-transform: uppercase;
}

.typo_size-1 {
  font-size: var(--text-size-xxl);
  line-height: var(--text-height-xxl);
  font-weight: 700;
}

.typo_size-2 {
  font-size: var(--text-size-xl);
  line-height: var(--text-height-xl);
  font-weight: 500;
}

.typo_size-3 {
  font-size: var(--text-size-lg);
  line-height: var(--text-height-lg);
}

.typo_size-4 {
  font-size: var(--text-size-md);
  line-height: var(--text-height-md);
}

.typo_size-5 {
  font-size: var(--text-size-sm);
  line-height: var(--text-height-sm);
}